@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-tint: var(--background-tint);
  --color-foreground-tint: var(--foreground-tint);
  --color-foreground-shade: var(--foreground-shade);
  --color-background-tint-2: var(--background-tint-2);

  --text-heading-1: var(--heading-1);
  --text-heading-1--font-weight: 800;
  --text-heading-1--line-height: 1;

  --text-heading-2: var(--heading-2);
  --text-heading-2--font-weight: 800;
  --text-heading-2--line-height: 1;

  --text-heading-3: var(--heading-3);
  --text-heading-3--font-weight: 800;
  --text-heading-3--line-height: 1;

  --text-heading-4: var(--heading-4);
  --text-heading-4--font-weight: 800;
  --text-heading-4--line-height: 1.15;

  --text-heading-5: var(--heading-5);
  --text-heading-5--font-weight: 800;
  --text-heading-5--line-height: 1.15;

  --text-heading-6: var(--heading-6);
  --text-heading-6--font-weight: 800;
  --text-heading-6--line-height: 1.15;

  --text-paragraph: var(--paragraph);
  --text-paragraph--font-weight: 400;

  --text-small: var(--small);
  --text-small--font-weight: 400;

  --text-extra-small: var(--extra-small);
  --text-small--font-weight: 400;
}

@utility container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-whitespace);
}

@utility scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility standard-grid {
  display: grid;
  grid-template-columns: repeat(var(--col-count), minmax(0, 1fr));
  column-gap: var(--col-gap);
}

:root {
  --background: hsl(246 6% 9%);
  --background-tint: hsl(246 6% 15%);
  --background-tint-2: hsl(246 6% 20%);
  --foreground: hsl(256 6% 93.2%);
  --foreground-tint: hsl(256 6% 96.2%);
  --foreground-shade: hsl(256 6% 70%);

  --heading-1: 3rem;
  --heading-2: 2.5rem;
  --heading-3: 2rem;
  --heading-4: 1.75rem;
  --heading-5: 1.5rem;
  --heading-6: 1.25rem;
  --paragraph: 1rem;
  --small: 0.875rem;
  --extra-small: 0.75rem;

  --container-max-width: 90rem;
  --container-whitespace: 1.75rem;
  --col-count: 4;
  --col-gap: 1.75rem;

  --current-container-content-size: calc(
    min(var(--container-max-width), calc(100vw)) -
      (var(--container-whitespace) * 2)
  );

  --current-col-size: calc(
    (
        var(--current-container-content-size) - (var(--col-count) - 1) *
          var(--col-gap)
      ) /
      var(--col-count)
  );

  --current-col-with-gap: calc(var(--current-col-size) + var(--col-gap));

  @media only screen and (min-width: 768px) {
    --col-count: 8;
    --col-gap: 2.5rem;
    --container-whitespace: 2.5rem;
  }
  @media only screen and (min-width: 1024px) {
    --col-count: 12;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --heading-1: 3.5rem;
    --heading-2: 3rem;
    --heading-3: 2.5rem;
    --heading-4: 2rem;
    --heading-5: 1.75rem;
    --heading-6: 1.5rem;
    --paragraph: 1.25rem;
    --small: 1rem;
    --extra-small: 0.875rem;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  font-feature-settings:
    "case" 0,
    "dlig" 0,
    "frac",
    "dnom" 0,
    "numr" 0,
    "subs" 0,
    "sups" 0,
    "tnum",
    "zero" 0,
    "ss01",
    "ss02" 0,
    "ss03" 0,
    "ss04" 0,
    "ss05" 0,
    "ss06" 0,
    "ss07" 0,
    "ss08" 0,
    "cv01" 0,
    "cv02" 0,
    "cv03" 0,
    "cv04" 0,
    "cv05",
    "cv06" 0,
    "cv07" 0,
    "cv08",
    "cv09" 0,
    "cv10",
    "cv11",
    "cv12" 0,
    "cv13" 0,
    "cpsp" 0,
    "c2sc" 0,
    "salt" 0,
    "aalt" 0,
    "calt",
    "ccmp",
    "locl",
    "kern";
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}
